GIT_USER_NAME=User Name
GIT_USER_EMAIL=user@name.com
GH_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CONTEXT7_API_KEY=xxxxxx-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxexxx
# Projects-related variables
TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal